@import "https://fonts.bunny.net/css?family=red-hat-mono:400|inter:400,500,600,700";
@import "tailwindcss";

@theme {
    --color-muted: rgb(106, 107, 108);
    --color-code: rgb(156, 156, 157);
    --font-mono: "Red Hat Mono", monospace;
    --font-sans: "Inter", sans-serif;
}

body {
    background-color: rgb(7, 8, 10);
    @apply p-8 m-0 text-white;
}
button {
    @apply flex align-middle gap-2 px-2.5 py-1.5;
    @apply font-medium text-gray-900 dark:text-white;
    @apply cursor-pointer rounded-md shadow-xs items-center justify-center inset-ring;
    @apply bg-white inset-ring-gray-300 hover:bg-gray-50;
    @apply dark:bg-white/10  dark:shadow-none dark:inset-ring-white/5 dark:hover:bg-white/20;
}
